swagger: '2.0'
info:
  description: HL7 FHIR API for Coverage resource. Supported profiles - [http://hl7.org/fhir/us/carin-bb/StructureDefinition/C4BB-Coverage]
  version: 1.0.0
  title: Coverage MedicationKnowledge API
host: fhir.clevercarehealthplan.com
basePath: /r4/Coverage/1.0.0
schemes:
- https
security:
- default: []
tags:
- name: MedicationKnowledge
paths:
  /:
    get:
      tags:
      - MedicationKnowledge
      summary: Search for MedicationKnowledge resources
      operationId: searchMedicationKnowledge
      produces:
      - application/fhir+json
      parameters:
      - name: DrugPlan
        in: query
        description: Select resources based on the `DrugPlan ID` of a `FormularyDrug`
        required: false
        type: string
      - name: DrugTier
        in: query
        description: Select resources based on the `DrugTier ID` of a `FormularyDrug`
        required: false
        type: string
      - name: code
        in: query
        description: Select resources based on the `code` of a `FormularyDrug`
        required: false
        type: string
      - name: DrugName
        in: query
        description: Select resources based on the `Descriptive Name` of a `FormularyDrug`
        required: false
        type: string
      - name: _offset
        in: query
        description: 'Pagination offset (Default: 0)'
        required: false
        type: string
      - name: _count
        in: query
        description: 'Resource count (total) per bundle (Default: 10)'
        required: false
        type: string
      - name: _profile
        in: query
        description: Select resources based on a given HL7 profile.
        required: false
        type: string
      - name: _id
        in: query
        description: Select resource based on the logical `id`.
        required: false
        type: string
      - name: _lastUpdated
        in: query
        description: 'Select resources based on the last time they were changed.


          - Only date is supported in `yyyy-mm-dd` format.

          - Prefixes supported are `eq`, `ne`, `gt`, `lt`, `ge` and `le`. Refer to their definitions at http://hl7.org/fhir/search.html#prefix.


          eg: `_lastUpdated=eq2021-01-14`

          '
        required: false
        type: string
      responses:
        '200':
          description: Search operation is successful
        '400':
          description: Invalid parameter
        '401':
          description: Unauthorized request
        '403':
          description: Access forbidden - `ID` mismatch
        '500':
          description: Internal server error - please contact the API provider
        '503':
          description: Service unavailable - please contact the API provider
      security:
      - default: []
      x-throttling-tier: 300PerMin
      x-auth-type: None
  /{id}:
    get:
      tags:
      - MedicationKnowledge
      summary: Read a MedicationKnowledge resource
      operationId: readMedicationKnowledge
      produces:
      - application/fhir+json
      parameters:
      - name: id
        in: path
        description: Fetch a resource using its logical `id`.
        required: true
        type: string
      responses:
        '200':
          description: Read operation successful
        '400':
          description: Invalid parameter
        '401':
          description: Unauthorized request
        '403':
          description: Access forbidden - `ID` mismatch
        '404':
          description: Requested resource not found - invalid `ID`
        '500':
          description: Internal server error - please contact the API provider
        '503':
          description: Service unavailable - please contact the API provider
      security:
      - default: []
      x-throttling-tier: 500PerMin
      x-auth-type: None
securityDefinitions:
  default:
    type: oauth2
    authorizationUrl: https://fhir.clevercarehealthplan.com/authorize
    flow: implicit
    scopes: {}
x-wso2-oh-fhir-profile:
- http://hl7.org/fhir/us/carin-bb/StructureDefinition/C4BB-Coverage
x-wso2-oh-fhir-resourceType: Coverage
