{
  "swagger": "2.0",
  "info": {
    "description": "HL7 FHIR API for List resource. Supported profiles - [http://hl7.org/fhir/us/Davinci-drug-formulary/StructureDefinition/usdf-CoveragePlan]",
    "version": "1.0.0",
    "title": "List"
  },
  "host": "fhir.clevercarehealthplan.com",
  "basePath": "/r4/List/1.0.0",
  "tags": [],
  "schemes": [
    "https"
  ],
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "List"
        ],
        "summary": "Search for List resources",
        "operationId": "searchList",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "name": "_offset",
            "in": "query",
            "description": "Pagination offset (Default: 0)",
            "required": false,
            "type": "string"
          },
          {
            "name": "_count",
            "in": "query",
            "description": "Resource count (total) per bundle (Default: 10)",
            "required": false,
            "type": "string"
          },
          {
            "name": "_profile",
            "in": "query",
            "description": "Select resources based on a given HL7 profile.",
            "required": false,
            "type": "string"
          },
          {
            "name": "_id",
            "in": "query",
            "description": "Select resource based on the logical `id`.",
            "required": false,
            "type": "string"
          },
          {
            "name": "_lastUpdated",
            "in": "query",
            "description": "Select resources based on the last time they were changed.\n\n- Only date is supported in `yyyy-mm-dd` format.\n- Prefixes supported are `eq`, `ne`, `gt`, `lt`, `ge` and `le`. Refer to their definitions at http://hl7.org/fhir/search.html#prefix.\n\neg: `_lastUpdated=eq2021-01-14`\n",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Search operation is successful"
          },
          "400": {
            "description": "Invalid parameter"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "403": {
            "description": "Access forbidden - `ID` mismatch"
          },
          "500": {
            "description": "Internal server error - please contact the API provider"
          },
          "503": {
            "description": "Service unavailable - please contact the API provider"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-throttling-tier": "300PerMin",
        "x-auth-type": "None"
      }
    },
    "/{id}": {
      "get": {
        "tags": [
          "List"
        ],
        "summary": "Read a List resource",
        "operationId": "readList",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Fetch a resource using its logical `id`.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Read operation successful"
          },
          "400": {
            "description": "Invalid parameter"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "403": {
            "description": "Access forbidden - `ID` mismatch"
          },
          "404": {
            "description": "Requested resource not found - invalid `ID`"
          },
          "500": {
            "description": "Internal server error - please contact the API provider"
          },
          "503": {
            "description": "Service unavailable - please contact the API provider"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-throttling-tier": "500PerMin",
        "x-auth-type": "None"
      }
    }
  },
  "securityDefinitions": {
    "default": {
      "type": "oauth2",
      "authorizationUrl": "https://fhir.clevercarehealthplan.com/authorize",
      "flow": "implicit",
      "scopes": {}
    }
  },
  "parameters": {
    "_idParam": {
      "name": "_id",
      "in": "query",
      "description": "Select resource based on the logical `id`.",
      "required": false,
      "type": "string"
    },
    "_lastUpdatedParam": {
      "name": "_lastUpdated",
      "in": "query",
      "description": "Select resources based on the last time they were changed.\n\n- Only date is supported in `yyyy-mm-dd` format.\n- Prefixes supported are `eq`, `ne`, `gt`, `lt`, `ge` and `le`. Refer to their definitions at http://hl7.org/fhir/search.html#prefix.\n\neg: `_lastUpdated=eq2021-01-14`\n",
      "required": false,
      "type": "string"
    },
    "_profileParam": {
      "name": "_profile",
      "in": "query",
      "description": "Select resources based on a given HL7 profile.",
      "required": false,
      "type": "string"
    },
    "idParam": {
      "name": "id",
      "in": "path",
      "description": "Fetch a resource using its logical `id`.",
      "required": true,
      "type": "string"
    }
  },
  "x-wso2-oh-fhir-resourceType": "List",
  "x-wso2-oh-fhir-profile": [
    "http://hl7.org/fhir/us/Davinci-drug-formulary/StructureDefinition/usdf-CoveragePlan"
  ],
  "x-wso2-disable-security": true
}